

.container1 {
	padding: 0px;
	margin: 0%;
	text-align: center;
	margin-bottom: 50px
  border-radius: 5px;
}

.inventory-button{
	padding: 7px 4px;
	background-color: #00757b;
	color: #ffffff;
	border-radius: 5px;
}

.new-quote{
	padding: 7px 4px;
	background-color: #00757b;
	color: #ffffff;
	border-radius: 5px;
}

.inventory-lookup{
	padding: 7px 4px;
	background-color: #00757b;
	color: #ffffff;
	border-radius: 5px;
}

.manage-account{
	padding: 7px 4px;
	background-color: #00757b;
	color: #ffffff;
	margin-left: 0%;
	white-space: nowrap;
	border-radius: 5px;

}
