@charset "utf-8";
body {
    /*'background-image: url("mug1.png");*/
    background-color: white;
	/*background-size:cover;*/
	background-repeat: no-repeat;
	padding-top: 10px;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 50px;
}
div.container1 {
  height: 10em;
  display: relative;
  text-align: center 
  }
div.container1 p {
  margin: 0 
  top: 50%;
  left: 50%;
  }
.Logo {
	
	background: url('logo.png');
	background-repeat: no-repeat;
	height: 319px;
	background-position: center; 
}