@charset "utf-8";
body {
	margin: 0;
	padding: 10px;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: sans-serif;
}

.header_title > h2 {
	text-align: center;
	position: absolute; /* or absolute */
	left: 50%;
}
a:active{
	background-color: gray;
	border: none;
}
/*Form Stuff  */
form {

}

ul {
	display: block;

}
ul > .inputs {
	position: relative;
	left: 14%;

}
.viewBtn{
	text-align: center;
	top: 20%;
}
a{
	background-color: #00757b;
  border: none;
  color: black;
  font-weight: bold;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
	border-radius: 20px;
}
